@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

body {
    cursor: url("assets/img/logo/cimarron.png"), auto;
}

.container {
    display: grid;
    grid-template-rows: 80px auto 1fr auto 50px;
    grid-template-columns: 1fr 4fr 1fr; 
    height: 100vh;
    grid-template-areas:
        "header     header      header"
        "left-aside banner      right-aside"
        "left-aside main        right-aside"
        "left-aside low-content right-aside"
        "footer     footer      footer";
    grid-gap: 10px; padding: 10px;
    font-weight: 600; font-size: 20px;
}

@media (max-width: 678px) {
    .container {
        grid-template-rows: 50px 50px 50px 1fr 50px 50px 50px;
        grid-template-columns: 1fr; 
        height: 100vh;
        grid-template-areas:
            "header"
            "banner"
            "left-aside"
            "main"
            "right-aside"
            "low-content"
            "footer";
    }
}